name: Build every Haskell packge
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v11
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v6
        with:
          name: mycache
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Build
        run: nix-build haskellPackages.nix -j 2 --option extra-binary-caches https://nixcache.reflex-frp.org
